.footer p{
    color:#848991 ;
    font-family: 'Times New Roman', Times, serif;
}
.footer a{
    color:#848991 ;  
}    

.footer{
    padding: 10%;
    border-top:2px solid #848991;
}
.webLinksWrap p{
    font-size: 19.2px ;
    color:#848991 ;


}
.express{
    font-size:21.12px  ;
}
.footer h4{
    font-size:21.12px ;
}
.samsungContactFlex2{
    display: grid;
    border-bottom: 1px solid #848991;
    padding-bottom: 40px;
}

.samsungContactFlex2 li{
    margin-top: 12px ;
}
.icon{
    color: #848991;
    font-size: 20px;
}
.icon2{
    font-size: 18px;
color: rgb(59, 11, 233);
}
.iconsWrap{
    display: flex;
    gap: 20px;
    align-items: center;
}
@media (min-width:768px) {
    .flexFooterIcons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    .samsungContactFlex{
        display:flex;
        /* grid-template-columns: 1fr 1fr ; */
        gap: 45%;
        justify-content: space-between;
    }
    .samsungContactFlex2{
        display:flex;
        /* grid-template-columns: 1fr 1fr ; */
        /* gap: 45%; */
        gap: 0px;
        justify-content: space-between;
    }
    .samsungContactFlex div{
        /* width: 100%; */
    }
}